*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    font-family: Noto Sans TC;
}
.navigation{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #FFFFFF;
    display: flex;
    flex: none;
    width: 1200px;
    height: 54px;
    padding-left:calc((100% - 1200px)/2) ;
    padding-right:calc((100% - 1200px)/2) ;
    border-bottom: 1px solid #E8E8E8;
    /* margin-left: calc((100%-1200px)/2);
    margin-right: calc((100%-1200px)/2); */
    align-items: center;
    justify-content: space-between;
}
.navigation_title{
    flex: none;
    font-size: 30px;
    color: #448899;
    font-family: Noto Sans TC;
    font-weight: 700;
    text-align: left;
    margin-left: 10px;

}
.navigation_title:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.navigation_title:active{
    transform: scale(1);
}
.navigation_button{
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 175px;
    margin-right: 10px;

}
.navigation_button_left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex:none;
    font-size: 16px;
    color: #666666;
    font-family: Noto Sans TC;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
}
.navigation_button_left:hover{
    transform: scale(1.05);
}
.navigation_button_left:active {
    /* :active是滑鼠點擊元素的狀態 */
    transform: scale(1);
    /*box-shadow: inset 0 0 0 1px rgba(0, 0, 0);*/
}
.navigation_button_right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex: none;
    font-size: 16px;
    color: #666666;
    font-family: Noto Sans TC;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
}
.navigation_button_right:hover{
    transform: scale(1.05);
}
.navigation_button_right:active {
    transform: scale(1);
    /*box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);*/
}
.main_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin-left: calc((100% - 1200px)/2);
    margin-right: calc((100% - 1200px)/2);
    /* height: 440px; */
    box-sizing: border-box;
    margin-top: 39px;
    border-bottom: 1px solid #E8E8E8;
}
.section_picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    background-color: aliceblue;
    position: relative;
}

.section_picture_left_btn{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 182px;
    left: 10px;
    opacity: 75%;
    z-index: 2;
}
.section_picture_left_btn img{
    width: 100%;
    height: 100%;
}
.section_picture_left_btn img:hover{
    cursor: pointer;
}
.section_picture_left_btn img:active{
    transform: scale(1.1);
    opacity: 100%;
}

.section_picture_right_btn{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 182px;
    right: 10px;
    opacity: 75%;
    z-index: 2;
}
.section_picture_right_btn img{
    width: 100%;
    height: 100%;
}
.section_picture_right_btn img:hover{
    cursor: pointer;
}
.section_picture_right_btn img:active{
    transform: scale(1.1);
    opacity: 100%;
}
.image_wrapper{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 540px;
    overflow: hidden;
}
.image_content{
    display: flex;
    width: 100%;
    height: 400px;
    transition: transform 0.7s ease;
}
.image_content img{
    display: block;
    min-width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: top 0px left 0px;
}

.circle {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 10px;
    padding: 2px 5px;
}
.not_current {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.5;
    margin: 0 3px;
    
}
.current {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
}

.section_profile{
    width: 600px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    height: 400px;
}
.section_profile_name{
    display: flex;
    align-items: center;
    width: 100%;
    height: 33px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #666666;
}
.section_profile_cat_mrt{
    display: flex;
    align-items: center;
    width: 100%;
    height: 22px;
    position: relative;
    top: 15px;
    font-weight: 400;
    line-height: 13.3px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #666666;
}
.section_profile_book_form{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 302px;
    margin-top: 20px;
    position: relative;
    top: 20px;
    background-color: #E8E8E8;
    border-radius: 5px;
}
.section_profile_book_form_title{
    width: 560px;
    min-height: 22px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #666666;
}
.section_profile_book_form_description{
    width: 560px;
    min-height: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    /* position: absolute;
    top: 52px; */
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #666666;
    
}
.section_profile_book_form_date{
    width: 560px;
    min-height: 35px;
    margin-left: calc((100% - 560px)/2);
    margin-right: calc((100% - 560px)/2);
    margin-top: 15px;
    display: flex;
    align-items: center;
    position: relative;
    /* position: absolute;
    top: 91px; */
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #666666;
}
.section_profile_book_form_date input{
    box-sizing: border-box;
    position: absolute;
    left: 86px;
    width: 193px;
    min-height: 35px;
    border: 0px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-right: 40px; /* Leave space for the custom icon */

}

/* Hide the default calendar icon */
.section_profile_book_form_date input::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 10px;
}

.section_profile_book_form_date input::-moz-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 10px;
}
/* Custom calendar icon */
.date-label {
    position: absolute;
    left: 245px;
    top: 6px;
    /* transform: translateY(-50%); */
    width: 24px;
    height: 24px;
    background: url('/static/IMG/calendar.png') no-repeat center;
    pointer-events: none; /* Allow clicks to pass through to the input */
}


.section_profile_book_form_datetime{
    width: 560px;
    min-height: 22px;
    margin-left: calc((100% - 560px)/2);
    margin-right: calc((100% - 560px)/2);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 15px;
    /* position: absolute;
    top: 141px; */
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #666666;
}
.profile_book_form_datetime_morning_btn{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 91px;
    appearance: none;
    background: #FFFFFF;
    border-radius: 50%;

}
.profile_book_form_datetime_morning_btn:checked::before{
    content: "";
    background: #448899;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    width: 18px;
    height: 18px;
}
.profile_book_form_datetime_morning_text{
    display: flex;
    align-items: center;
    width: 48px;
    height: 14px;
    position: absolute;
    left: 117px;
    top: 4px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}
.profile_book_form_datetime_afternoon_btn{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 183px;
    appearance: none;
    background: #FFFFFF;
    border-radius: 50%;

}
.profile_book_form_datetime_afternoon_btn:checked::before{
    content: "";
    background: #448899;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    width: 18px;
    height: 18px;
}
.profile_book_form_datetime_afternoon_text{
    display: flex;
    align-items: center;
    width: 48px;
    height: 14px;
    position: absolute;
    left: 209px;
    top: 4px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}
.section_profile_book_form_price{
    width: 560px;
    min-height: 22px;
    margin-left: calc((100% - 560px)/2);
    margin-right: calc((100% - 560px)/2);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 15px;
    /* position: absolute;
    top: 178px; */
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #666666;
}
.section_profile_book_form_price_content{
    display: flex;
    align-items: center;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 86px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.section_profile_book_form_button{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 36px;
    position: relative;
    margin-top: 25px;
    /* position: absolute;
    top: 225px; */
    left: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px 5px 5px 5px;
    background-color: #448899;
    font-size: 19px;
    font-weight: 400;
    color: #FFFFFF;
}
.section_profile_book_form_button:hover{
    cursor: pointer;
}
.section_profile_book_form_button:active{
    transform: scale(0.92);
}

.infors{
    /* position: relative;
    top: 574px; */
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 1200px;
    padding: 10px;
}
.infors_description{
    margin-top: 10px;
    width: 1180px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color:#666666;
}
.infors_location_title{
    /* position: absolute; */
    margin-top: 20px;
    width: 1180px;
    height: 32px;
    top: 126px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #666666;
}
.infors_location_content{
    /* position: absolute; */
    width: 1180px;
    height: 24px;
    top: 158px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;   
    color: #666666;
}
.infors_transportation_title{
    /* position: absolute; */
    width: 1180px;
    height: 32px;
    /* top: 202px; */
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #666666;
}
.infors_transportation_content{
    /* position: absolute; */
    width: 1180px;
    /* height: 48px; */
    left: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #666666;
}

.footer{
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 104px;
    background-color:#757575;
    box-sizing: border-box;
}
.footer_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 24px;
    /* padding: 5px 0px 5px 0px; */
    /* top: 5px; */
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color:#FFFFFF;
}

@media (max-width:1200px){
    .navigation{
        width: 100%;
    }
    .section{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .section_picture{
        width: calc(100% * 0.45);
    }
    .image_wrapper{
        width: 100%;
    }
    .section_profile{
        width: calc(100% * 0.5);
    }
    .section_profile_book_form{
        width: 100%;
    }
    .section_profile_book_form_title{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
    }
    .section_profile_book_form_description{
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        
    }
    .section_profile_book_form_date{
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
    .section_profile_book_form_datetime{
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
    .section_profile_book_form_price{
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
    .infors{
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
    }
}


@media (max-width:880px){
    .navigation{
        width: 100%;
        border-bottom: 0px;
    }
    .section{
        flex-wrap:wrap;
        margin-top: 0px;
    }
    .section_picture{
        width: 100%;
        margin-bottom: 10px;
    }
    .section_profile{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .image_content img{
        border-radius: 0px;
    }
    .infors {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 134px;
    }


}
